<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patrimônio</ion-title>
    <ion-buttons slot="end" (click)="addPatrimonio()">
      <ion-button>Novo
        <ion-icon name="add" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> <!-- final do cabelaçalho -->

<ion-content>

</ion-content><!-- final do conteúdo -->

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-title>Patrimônio</ion-title>
  </ion-toolbar>
</ion-footer><!-- final do rodapé -->