<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patrimônio</ion-title>
    <ion-buttons slot="end" (click)="addPatrimonio()">
      <ion-button>Novo
        <ion-icon name="add" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> <!-- final do cabelaçalho -->

<ion-content>
<ion-grid>  
  <ion-row >
    <ion-col size="2" class="bgc">Nº</ion-col>
    <ion-col size="6" class="bgc">Produto</ion-col>
    <ion-col size="4" class="bgc">Valor </ion-col>
  </ion-row>
  <ion-row *ngFor="let item of patrimonio" >
    <ion-col size="2" >{{item.numero}}</ion-col>
    <ion-col size="6" >{{item.produto}}</ion-col>
    <ion-col size="4" >{{item.valor}} </ion-col>
  </ion-row>
</ion-grid>
</ion-content><!-- final do conteúdo -->

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-title>Patrimônio</ion-title>
  </ion-toolbar>
</ion-footer><!-- final do rodapé -->